name: Publish DEV Docker image

on:
  push:
    branches-ignore:
      - master
      - dependabot/**

jobs:
  build-dev:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
    - name: Check out the repo
      uses: actions/checkout@v5
    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v3.x

    - name: Log in to Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      id: push
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        push: true
        tags: shakapark/backup-tool:${{ env.GITHUB_REF_SLUG_URL }}

    - name: Generate artifact attestation
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: index.docker.io/shakapark/backup-tool
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
